<html>
    <head>
        <title><%=@mark%></title>
    </head>
    <body>
      
       <p><%=@mark.to_s%></p>
        <form action="/universities/marks" method="post">
            Type: <input type="text" name="type"><br>
            Value: <input type="text" name="value"><br>
            <input type="submit" value="Submit">
        </form> 
       
         <p><a href ="/universities"> Powrót na stronę główną</a></p>
    </body>
</html