<html>
    <head>
        <title>Błąd !</title>
    </head>
    <body>
        <h1>Brak uniwersytetu o podanej nazwie</h1>
         <p><a href ="/universities"> Powrót na stronę główną</a></p>
    </body>
</html