<html>
    <head>
        <title>Błąd !</title>
    </head>
    <body>
        <h1>Brak Studenta o podanym id Bądź nie jesteś zalogowany/ nie masz uprawnień by przejrzeć jego oceny</h1>
         <p><a href ="/universities"> Powrót na stronę główną</a></p>
    </body>
</html