<html>
    <head>
        <title>Months</title>
    </head>
    <body>
        <h1><%=year%></h1>
        <%= link_to('Edycja roku', edit_month_path(:year)) %>
       <div id="lista">
<ul>
            <%  @months_hash.each do |num,month_name| %>
  <li><%= link_to month_name, month_path(num) %></li>
            <%end%>
</ul>
        </div >
    </body>
</html