<html>
    <head>
        <title><%=months_hash[@month]%> <%=year%></title>
    </head>
    <body>
       
       <table>
            <tr>
	            <td>PN</td>	<td>WT</td> <td>ŚR</td> <td>CZ</td> <td>PT</td> <td>SB</td> <td>ND</td>
            </tr>
            <% i=1 %>
            <% while (i <=31 && i <= @month_calendar.size) do %>
            <tr>
                <%for j in 1..7  %>
	            <td>check_day(i,j)</td>	
                <%end%>
            </tr>
            <%end%>
        </table>
      

    </body>
</html